<html>
    <head>
        <%- include('partials/head') %>
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Brand</a>
                </div>
        
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/items">items</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Second Link</a></li>
        
                    </ul>
              
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Second Link</a></li>
                            <script>
                                let userData = {};
                                var login_div = document.querySelector(".navbar-right");
                                try {
                                    userData = { key: sessionStorage.getItem('account') };
                                } catch (e) {
                                    location.href = "/";
                                }
                                if(userData.key==null){
                                    login_div.innerHTML="<li><a href='/login'>로그인</a></li>"
                                    
                                }else{
                                    login_div.innerHTML="<li><a><strong>"+userData.key+"</strong> 님 안녕하세요!</a></li> <li><a href='/mainPage'>마이페이지</a></li> <li><a href='/logout'>로그아웃</a></li>";
    
                                }
                        
                            </script>
                   
                    </ul>
                
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        
        <% if(account == null){ %>
            <div class="section">
                <div class="header">
                    <h1> Sorry </h1>
                    <h2> 로그인하셔야 열람이 가능합니다.</h2>
                    <a href="/login">로그인하기</a>
                </div>
            </div>
        <% } else{ %>
            <div class="align-center">
                <div class="show-section">
                    <div class="item-name"> 제품명 : <%= item[1]%></div><hr>
                    <div class="item-comment"> 원산지 : <%= item[2]%></div><hr>
                    <div class="item-sub"> 제품 갯수 : <%= item[3]%></div><hr>
                    <div class="item-user"> 등록한 사람계정 : <%= item[0]%></div>
                    </div>
                

                    <!-- -------------------------------------------------주석지우고 다시 이어서 하기-------------------------------------- -->

                    <!-- <% if(account == item[0]){ %>
                        <a href="/rate/<%= item.itemId %>"><button class="btn btn-warning" style="margin-top: 50px; float: right;">팀원 평가하러 가기</button></a>
                    <% } %> -->
                    
                </div>
            </div>

        <% } %>
    </body>
</html> 

