<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <header>
      <%- include('partials/header') %>
    </header>
    <div class="container">
      <div class="title">
        Message: <p id="message"><%= message %></p>
      </div>
      <div class="subtitle">
        Block number: <p id="blockNumber"><%= blockNumber %></p>
      </div>
      <div class="frame active">
        <div class="title">
          Update Message
        </div>
        <div class="contents">
          Sender : <select id="selSender">
            <% for(let i = 0; i < accounts.length; i++) { %>
              <option value="<%= i %>"><%= accounts[i] %></option>
            <% } %>
          </select>
          <div>
            Message: <input type="text" id="inputMessage" class="input-box" placeholder="Hi">
          </div>
          <div>
            <button id="btnUpdateMessage">Send</button>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <%- include('partials/footer') %>
    </footer>
    <!-- javascript -->
    <script>
      document.getElementById("btnUpdateMessage").addEventListener('click', event => {
        const selSender = document.getElementById("selSender");
        const sender = selSender.options[selSender.selectedIndex].text;
        const inputMessage = document.getElementById("inputMessage");
        const newMessage = inputMessage.value;
        const message = document.getElementById("message");
        const blockNumber = document.getElementById("blockNumber");

        // 서버로 PUT 요청 보내기
        fetch("/hello-world/message", {
          method: "PUT",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ sender, newMessage })
        })
        .then(response => response.json())
        .then(json => {
          message.innerHTML = json.message;
          blockNumber.innerHTML = json.blockNumber;
          inputMessage.value = "";
        });
      });
    </script>
  </body>
</html>
