<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <header>
      <%- include('partials/header') %>
    </header>
    <div class="container">
      <div class="subtitle">
        Block number: <p id="blockNumber"><%= blockNumber %></p>
      </div>
      <div>
        <nav class="navbar navbar-expand navbar-dark">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item menu">
                <a class="nav-link active" id="aVoting" href="#">Voting</a>
              </li>
              <li class="nav-item menu">
                <a class="nav-link" id="aSetCandidate" href="#">Set candidate</a>
              </li>
              <!-- 
              <li class="nav-item menu">
                <a class="nav-link" id="aTransferTokens" href="#">Transfer tokens</a>
              </li> -->
            </ul>
          </div>
        </nav>
      </div>
      <div class="frame active" id="frameVoting">
        <div class="title">Voting</div>
        <div class="contents">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Candidate</th>
                <th scope="col">Votes</th>
              </tr>
            </thead>
            <tbody id="tbodyCandidates">
              <!-- for loop -->
              <% for(let i = 0; i < candidates.length; i++) { %>
                <tr>
                  <th scope="row"><%= i %></th>
                  <td><%= candidates[i].name %></td>
                  <td><%= candidates[i].votes %></td>
                </tr>
              <% } %>
            </tbody>
          </table> 
          <div>
            <input type="text" id="inputNameForVoting" class="input-box">
            <button id="btnVote">Vote</button>
          </div>
        </div>
      </div>
      <div class="frame" id="frameSetCandidate">
        <div class="title">Set Candidate</div>
        <div class="contents">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Candidate</th>
                <th scope="col">Votes</th>
              </tr>
            </thead>
            <tbody id="tbodyCandidates">
              <!-- for loop -->
              <% for(let i = 0; i < candidates.length; i++) { %>
                <tr>
                  <th scope="row"><%= i %></th>
                  <td><%= candidates[i].name %></td>
                  <td><%= candidates[i].votes %></td>
                </tr>
              <% } %>
            </tbody>
          </table> 
          <div>
            <input type="text" id="inputNameForSetCandidate" class="input-box">
            <button id="btnSetCandidate">Set</button>
          </div>
        </div>
      </div>
    <footer>
      <%- include('partials/footer') %>
    </footer>
    <!-- javascript -->
    <script>
      const blockNumber = document.getElementById("blockNumber");

      // 선택한 메뉴를 보이게 하기
      const frames = document.getElementsByClassName("frame");
      const menus = document.getElementsByClassName("menu");
      const length = menus.length;
      for(let i = 0; i < length; i++) {
        menus[i].addEventListener("click", event => {
          for(let j = 0; j < length; j++) {
            menus[j].children[0].classList.remove("active");
            frames[j].classList.remove("active");
          }
          const menuID = event.target.id;
          const frameID = menuID.replace("a", "frame");
          document.getElementById(menuID).classList.add("active");
          document.getElementById(frameID).classList.add("active");
        });
      }

      // 투표
      document.getElementById("btnVote").addEventListener("click", event => {
        const inputName = document.getElementById("inputNameForVoting");
        const name = inputName.value;

        fetch('/voting', {
          method: "PUT",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ name })
        })
        .then(response => response.json())
        .then(json => {
          alert(json.msg);
          if(json.blockNumber) blockNumber.innerHTML = json.blockNumber;
          if(json.candidates) {
            let tbodyContents = "";
            for(let i = 0; i < json.candidates.length; i++) {
              tbodyContents += `
              <tr>
                <th scope="row">${i}</th>
                <td>${json.candidates[i].name}</td>
                <td>${json.candidates[i].votes}</td>
              </tr>`;
            }
            const tbodys = document.querySelectorAll("#tbodyCandidates");
            for(let tbody of tbodys) {
              tbody.innerHTML = tbodyContents;
            }
            inputName.value = "";
          }
        });
      });

      // 후보 추가
      document.getElementById("btnSetCandidate").addEventListener("click", event => {
        const inputName = document.getElementById("inputNameForSetCandidate");
        const name = inputName.value;

        fetch('/voting', {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ name })
        })
        .then(response => response.json())
        .then(json => {
          alert(json.msg);
          if(json.blockNumber) blockNumber.innerHTML = json.blockNumber;
          if(json.candidates) {
            let tbodyContents = "";
            for(let i = 0; i < json.candidates.length; i++) {
              tbodyContents += `
              <tr>
                <th scope="row">${i}</th>
                <td>${json.candidates[i].name}</td>
                <td>${json.candidates[i].votes}</td>
              </tr>`;
            }
            
            // 각 프레임에 존재하는 표를 모두 업데이트 해주세요.
            const tbodys = document.querySelectorAll("#tbodyCandidates");
            for(let tbody of tbodys) {
              tbody.innerHTML = tbodyContents;
            }

            inputName.value = "";
          }
        });
      });
    </script>
  </body>
</html>
